/*Styles for Tic Tac Toe Project*/

@font-face {
    font-family: 'Eraser Dust';
    src: url(./EraserDust.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(236, 207, 162);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chalk-board {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    border: 30px double black;
    border-image: url('./360_F_228680721_gGbh5ylrMPMikdBIzWb8N1yGBLg8dmu9.jpg') 100;
    height: 650px;
    flex-basis: 90%;
    background-color: black;
}

.left-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    font-family: 'Eraser Dust', 'Times New Roman', Times, serif;
    color: whitesmoke;
    border-right: 10px solid transparent;
    border-image: url(./1000_F_77983707_0RAdJcXI2EyVIVb0KkaLlYmQ5JSrE4t5.jpg) 300;
}

.left-menu > h3 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    align-self: center;
    border: 6px solid transparent;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    margin-left: 60px;
    margin-right: 60px;
    border-image: url(./1000_F_77983707_0RAdJcXI2EyVIVb0KkaLlYmQ5JSrE4t5.jpg) 350;
}

.left-menu > button {
    width: 220px;
    height: 120px;
    font-family: 'Eraser Dust', 'Times New Roman', Times, serif;
    justify-self: center;
    align-self: start;
    background-color: black;
    color: whitesmoke;
    font-size: 50px;
    border-image: url(./1000_F_77983707_0RAdJcXI2EyVIVb0KkaLlYmQ5JSrE4t5.jpg) 350;
}

#start:hover, 
#reset:hover,
#settings:hover {
    background-image: url(./1000_F_77983707_0RAdJcXI2EyVIVb0KkaLlYmQ5JSrE4t5.jpg) ;
    background-size: 380px;
    background-position: -85px;
    color: black;
}

.right-scoreboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr 1fr;
    border-left: 10px solid transparent;
    border-image: url(./1000_F_77983707_0RAdJcXI2EyVIVb0KkaLlYmQ5JSrE4t5.jpg) 300;
}

.right-scoreboard > h2 {
    color: whitesmoke;
    text-align: center;
    align-self: end;
    font-family: 'Eraser Dust', 'Times New Roman', Times, serif;
    font-size: 60px;
}

#p1 {
    grid-row: 1 / 1;
    border: 8px solid whitesmoke;
    border-image: url(./1000_F_77983707_0RAdJcXI2EyVIVb0KkaLlYmQ5JSrE4t5.jpg) 350;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    padding-right: 10px;
}

#p2 {
    grid-row: 3 / 3;
    border: 8px solid whitesmoke;
    border-image: url(./1000_F_77983707_0RAdJcXI2EyVIVb0KkaLlYmQ5JSrE4t5.jpg) 350;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.p1-score {
    grid-row: 2 / 2;
    margin: 20px;
}

.p2-score {
    grid-row: 4 / 4;
    margin: 20px;
}

.right-scoreboard > div > p {
    color: whitesmoke;
    text-wrap: wrap;
    font-size: 40px;
    font-family: 'Eraser Dust', 'Times New Roman', Times, serif;
}

.ttt-container {
    grid-column: 2 / 2;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
}

.marker-spot {
    border: 4px solid transparent;
    border-image: url(./1000_F_77983707_0RAdJcXI2EyVIVb0KkaLlYmQ5JSrE4t5.jpg) 380;
    font-family: 'Eraser Dust', 'Times New Roman', Times, serif;
    font-size: 125px;
    font-style: oblique;
    color: whitesmoke;
    align-content: center;
    text-align: center;
    background-color: black;
    height: 185px;
}

#top-left {
    border-top: 0px;
    border-left: 0px;
}

#top-mid {
    border-top: 0px;
}

#top-right {
    border-top: 0px;
    border-right: 0px;
}

#mid-left {
    border-left: 0px;
}

#mid-right {
    border-right: 0px;
}

#bottom-left {
    border-bottom: 0px;
    border-left: 0px;
}

#bottom-mid {
    border-bottom: 0px;
}

#bottom-right {
    border-bottom: 0px;
    border-right: 0px;
}

dialog {
    justify-self: center;
    align-self: center;
    border-radius: 20px;
}

form {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 500px;
    border: 30px double transparent;
    border-image: url(./Arch2O-65-types-of-wood-every-designer-needs-to-know-about-12-700x467.jpg) 100;
    font-family: 'Eraser Dust', 'Times New Roman', Times, serif;
    color: whitesmoke;
    background-color: rgb(10, 10, 10);
    
}

form > h2 {
    text-align: center;
    font-size: 60px;
    border: 6px solid transparent;
    border-image: url(./1000_F_77983707_0RAdJcXI2EyVIVb0KkaLlYmQ5JSrE4t5.jpg) 450;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
}

.change-name,
.change-p1-marker,
.choose-first-move {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}

.change-name > h2,
.change-p1-marker > h2,
.choose-first-move > h2 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
}

.marker-containers,
.players-move-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.name-change-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: space-around;
    padding-bottom: 20px;
}

.p1-name-container,
.cpu-name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.p1-name-container > label,
.cpu-name-container > label {
    font-size: 30px;
}

.x-marker-border:before,
.o-marker-border:before,
.player1-border:before,
.cpu-border::before {
    border: 0px;
}

.X-marker-container > label{
    position: absolute;
    font-size: 60px;
    left: 185px;
}

.O-marker-container > label {
    position: absolute;
    font-size: 60px;
    right: 185px;
}

#X-marker,
#O-marker,
#player1,
#cpu {
    height: 60px;
    opacity: 0;
}

#X-marker:checked + .x-marker-border{
    position: absolute;
    content: "";
    border: 4px solid rgb(245, 245, 245, 0.8);
    border-radius: 100px;
    left: 135px;
    height: 60px;
    width: 120px;
}

#O-marker:checked + .o-marker-border{
    position: absolute;
    content: "";
    border: 4px solid rgb(245, 245, 245, 0.8);
    border-radius: 100px;
    right: 135px;
    height: 60px;
    width: 120px;
}

.player1-container > label {
    position: absolute;
    font-size: 40px;
    left: 125px;
    bottom: 175px;
}

.cpu-container > label {
    position: absolute;
    font-size: 40px;
    right: 130px;
    bottom: 175px;
}

#player1:checked + .player1-border{
    position: absolute;
    content: "";
    border: 4px solid rgb(245, 245, 245, 0.8);
    border-radius: 100px;
    left: 115px;
    height: 60px;
    width: 160px;
}

#cpu:checked + .cpu-border{
    position: absolute;
    content: "";
    border: 4px solid rgb(245, 245, 245, 0.8);
    border-radius: 100px;
    right: 115px;
    height: 60px;
    width: 100px;
}

.save-cancel-buttons {
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.save-cancel-buttons > input {
    width: 220px;
    height: 80px;
    font-family: 'Eraser Dust', 'Times New Roman', Times, serif;
    background-color: rgb(10, 10, 10);
    color: whitesmoke;
    font-size: 30px;
    border-image: url(./1000_F_77983707_0RAdJcXI2EyVIVb0KkaLlYmQ5JSrE4t5.jpg) 350;
}

.save-cancel-buttons > input:hover {
    background-image: url(./1000_F_77983707_0RAdJcXI2EyVIVb0KkaLlYmQ5JSrE4t5.jpg);
    background-size: 370px;
    background-position: -85px;
    color: rgb(10, 10, 10);
}