/*Styles for Tic Tac Toe Project*/

@font-face {
    font-family: 'Eraser Dust';
    src: url(./EraserDust.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(236, 207, 162);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chalk-board {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    border: 30px double black;
    border-image: url('./360_F_228680721_gGbh5ylrMPMikdBIzWb8N1yGBLg8dmu9.jpg') 100;
    height: 650px;
    flex-basis: 90%;
    background-color: black;
}

.left-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    font-family: 'Eraser Dust', 'Times New Roman', Times, serif;
    color: whitesmoke;
    border-right: 10px solid transparent;
    border-image: url(./1000_F_77983707_0RAdJcXI2EyVIVb0KkaLlYmQ5JSrE4t5.jpg) 300;
}

.left-menu > h3 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    align-self: center;
    border: 6px solid transparent;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    margin-left: 60px;
    margin-right: 60px;
    border-image: url(./1000_F_77983707_0RAdJcXI2EyVIVb0KkaLlYmQ5JSrE4t5.jpg) 350;
}

.left-menu > button {
    width: 220px;
    height: 120px;
    font-family: 'Eraser Dust', 'Times New Roman', Times, serif;
    justify-self: center;
    align-self: start;
    background-color: black;
    color: whitesmoke;
    font-size: 50px;
    border-image: url(./1000_F_77983707_0RAdJcXI2EyVIVb0KkaLlYmQ5JSrE4t5.jpg) 350;
}

.right-scoreboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.15fr 1fr;
    border-left: 10px solid transparent;
    border-image: url(./1000_F_77983707_0RAdJcXI2EyVIVb0KkaLlYmQ5JSrE4t5.jpg) 300;
}

.right-scoreboard > h2 {
    color: whitesmoke;
    text-align: center;
    align-self: end;
    font-family: 'Eraser Dust', 'Times New Roman', Times, serif;
    font-size: 40px;
}

#p1 {
    border: 8px solid whitesmoke;
    border-image: url(./1000_F_77983707_0RAdJcXI2EyVIVb0KkaLlYmQ5JSrE4t5.jpg) 350;
    border-left: 0px;
    border-top: 0px;
    margin-left: 30px;
}

#p2 {
    border: 8px solid whitesmoke;
    border-image: url(./1000_F_77983707_0RAdJcXI2EyVIVb0KkaLlYmQ5JSrE4t5.jpg) 350;
    border-right: 0px;
    border-top: 0px;
    margin-right: 30px;
}

.right-scoreboard > div > p {
    color: whitesmoke;
    text-wrap: wrap;
    font-size: 27px;
    font-family: 'Eraser Dust', 'Times New Roman', Times, serif;
    padding-left: 10px;
}

.p1-score {
    margin-left: 30px;
    border: 7px solid whitesmoke;
    border-image: url(./1000_F_77983707_0RAdJcXI2EyVIVb0KkaLlYmQ5JSrE4t5.jpg) 320;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
}

.p2-score {
    margin-right: 30px;
    border: 7px solid whitesmoke;
    border-image: url(./1000_F_77983707_0RAdJcXI2EyVIVb0KkaLlYmQ5JSrE4t5.jpg) 350;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
}

.ttt-container {
    grid-column: 2 / 2;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
}

.marker-spot {
    border: 4px solid transparent;
    border-image: url(./1000_F_77983707_0RAdJcXI2EyVIVb0KkaLlYmQ5JSrE4t5.jpg) 380;
    font-family: 'Eraser Dust', 'Times New Roman', Times, serif;
    font-size: 125px;
    font-style: oblique;
    color: whitesmoke;
    align-content: center;
    text-align: center;
}

#top-left {
    border-top: 0px;
    border-left: 0px;
}

#top-mid {
    border-top: 0px;
}

#top-right {
    border-top: 0px;
    border-right: 0px;
}

#mid-left {
    border-left: 0px;
}

#mid-right {
    border-right: 0px;
}

#bottom-left {
    border-bottom: 0px;
    border-left: 0px;
}

#bottom-mid {
    border-bottom: 0px;
}

#bottom-right {
    border-bottom: 0px;
    border-right: 0px;
}